[submodule "2021_03Fall_CSC225_Advanced_Python/2021_03Fall_CSC225_Advanced_Python/class_notes"]
	path = 2021_03Fall_CSC225_Advanced_Python/2021_03Fall_CSC225_Advanced_Python/class_notes
	url = git@github.com:dsurraobhcc/CSC-225-01-2021FA.git
